<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="LogAndReg" value="Server=localhost;Port=5432;Database=Admin;User Id=LogAndReg;Password=login;" />
    <add key="Inventory" value="Server=localhost;Port=5432;Database=Inventory;User Id=Inventory;Password=admin;" />
    <add key="Planning" value="Server=localhost;Port=5432;Database=Admin;User Id=LogAndReg;Password=login;" />
    <add key="LogConnection" value="Server=localhost;Port=5432;Database=Admin;User Id=LogAndReg;Password=login;" />
    <add key="DeptAndRoles" value="Server=localhost;Port=5432;Database=Admin;User Id=LogAndReg;Password=login;" />
    <add key="Backup" value="Server=localhost;Port=5432;Database=Inventory;User Id=Backup;Password=admin;" />

    <add key="Language" value="Українська" />
    <add key="Theme" value="Світла" />
   
    <add key="WMIUsername" value="olesi" />
    <add key="WMIPassword" value="1408" />
  </appSettings>
</configuration>